@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

body,
html {
    margin: 0px;
    padding: 0px;
}

#header-image {
    height: 120px;
    margin-bottom: -25px;
}

#draft-ui,
#picks-ui {
    display: none;
}

#start-screen {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 350px;


}

.icon {
    font-size: 120px;
    color: white;
    background-color: #2f4294;
    border-radius: 10px;
    padding: 10px;
    border: solid 3px white;
    filter: drop-shadow(0 0 15px #111);
}

.icon:hover {
    cursor: pointer;
    background-color: #203077;
    filter: drop-shadow(0 0 5px #111);
}

#start {
    width: 650px;
    margin-left: auto;
    margin-right: auto;

}

#start td {
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

.start-text {
    text-align: center;
    width: 200px;
    margin: auto;
}


#draft {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


#draft td {
    width: 100px;
}

#picks {
    margin-left: auto;
    margin-right: auto;
}


.card-desc {
    font-size: 10px;
    margin-bottom: 5px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    margin-top: 3px;

}

a {
    color: white;
}

a:hover {
    color: skyblue;
}

#heading {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: white;
}

#picks-ui {
    background-color: #333;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 25px;
    margin-top: 50px;
    box-sizing: content-box;
    border: solid 4px #95a2e4;
}

.pick {

    cursor: pointer;
    height: 260px;
    width: 260px;

}

.donthave {
    margin-top: 10px;
    margin-bottom: 20px;
}

.picks {
    margin-top: 20px;

}

.cards {
    height: 90px;
}

body {
    background-color: #222;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    color: #DDD;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

td {
    font-size: 8px;
    text-align: center;
}

#picks-complete {
    text-align: center;
}

#energy-table {
    margin-left: 30px;
    border-collapse: collapse;
}

#top-table {
    height: 70px;
    border-left: solid 1px #1e6ff4;
    border-bottom: solid 1px #1e6ff4;
}


#energy1 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#energy2 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#energy3 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#energy4 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#energy5 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#energy6 {
    width: 10px;
    height: 1px;
    background-color: #1e6ff4;
}

#footer {
    margin-top: 60px;
    font-size: 10px;
    text-align: center;
}

.circle {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 3px solid #000;
    background-color: black;
    position: absolute;
    margin-left: 170px;
    margin-top: 90px;
}

#draft-done {
    display: none;
    margin-bottom: 30px;
}



#live {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 550px;

}

#live-tab {
    background-color: red;
    padding: 10px;
    font-size: 10px;
    width: 170px;
    margin: auto;
    text-align: center;
    cursor: pointer;

}

#live-start {
    font-size: 12px;
    background-color: #222;
    padding: 30px;
    margin: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 1px #eee;
    display: none;
}

#vote-details {
    text-align: center;
}

.vote-master {
    display: none;
}

.warn {
    color: rgb(201, 120, 120);
    font-weight: bold;
}

#vote-details-master {
    display: none;
    text-align: center;
}


.outofdate {
    background: url("../images/outofdate.png");
    z-index: 100;
    position: absolute;
    margin-top: -333px;
    margin-left: -85px;
}

.pick-rarity-3 {
    animation: pulse-legend 2s infinite;
}

.pick-rarity-2 {
    animation: pulse-epic 2s infinite;
}

.pick-rarity-1 {
    animation: pulse-rare 3s infinite;
}

@keyframes pulse-rare {
    0% {
        filter: drop-shadow(0 0 20px rgb(77, 152, 214));
    }

    50% {
        filter: drop-shadow(0 0 30px rgb(77, 152, 214));
    }

    100% {
        filter: drop-shadow(0 0 20px rgb(77, 152, 214));
    }
}

@keyframes pulse-epic {
    0% {
        filter: drop-shadow(0 0 20px rgb(221, 16, 211));
    }

    50% {
        filter: drop-shadow(0 0 25px rgb(163, 11, 156));
    }

    100% {
        filter: drop-shadow(0 0 20px rgb(221, 16, 211));
    }
}

@keyframes pulse-legend {
    0% {
        filter: drop-shadow(0px 0px 10px rgb(196, 216, 18));
    }

    50% {
        filter: drop-shadow(0px 0px 20px rgb(196, 216, 18));
    }

    100% {
        filter: drop-shadow(0px 0px 10px rgb(196, 216, 18));
    }
}

.card-preview-rarity-3 {
    filter: drop-shadow(3px 3px 0px rgb(196, 216, 18));
   
}

.card-preview-rarity-2 {
    filter: drop-shadow(3px 3px 0px rgb(221, 16, 211));
}

.card-preview-rarity-1 {
    filter: drop-shadow(3px 3px 0px rgb(96, 109, 226));
  
}